%article{class: training.training? ? "training" : "exchange"}

  - present training do |training_presenter|

    %header
      %h1= training_presenter.title
      %p.info= training_presenter.location

    = training_presenter.description

  %p= link_to "Opširnije", training
