--- 
http_interactions: 
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/infoletter.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 163, \"rev\": \"a308803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:08 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:41:08 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:08 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/participation_form.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 164, \"rev\": \"a408803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:09 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:41:09 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:09 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/infoletter.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 165, \"rev\": \"a508803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:10 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:10 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 167, \"rev\": \"a708803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:13 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:13 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 170, \"rev\": \"aa08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:17 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:17 GMT
recorded_with: VCR 2.2.2
