--- 
http_interactions: 
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/infoletter.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 155, \"rev\": \"9b08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:47 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:47 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:48 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/participation_form.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 156, \"rev\": \"9c08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:49 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:49 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:49 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/metadata/sandbox/infoletter.pdf?file_limit=10000&list=true&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 155, \"rev\": \"9b08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:47 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:47 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:50 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/metadata/sandbox/participation_form.pdf?file_limit=10000&list=true&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 156, \"rev\": \"9c08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:49 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:49 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:52 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/infoletter.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 157, \"rev\": \"9d08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:53 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:53 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 159, \"rev\": \"9f08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:56 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:56 GMT
[...]
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=infoletter.pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 158, \"rev\": \"9e08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:54 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:54 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:41:02 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=participation_form.pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 160, \"rev\": \"a008803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:57 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:57 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:41:04 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 162, \"rev\": \"a208803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:41:06 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:41:07 GMT
recorded_with: VCR 2.2.2
