- @title = "Iskustva polaznika"

%p Nova iskustva polaznika stvaraju se kroz #{link_to "projekte", admin_projects_path}.

= render partial: "testimonials/testimonial", collection: @testimonials

= will_paginate @testimonials
