%nav.site_navigation
  - pages = if admin then admin_navigation_pages else navigation_pages end

  .container
    %input{type: "checkbox", id: "nav_expander"}
    %label{class: "expander", for: "nav_expander"}
      = icon("menu")
      %span.current_page= current_page_title(pages)

    %ol
      - pages.each do |page|
        %li{class: ("active" if current_page?(page.route))}
          = link_to page.title, page.route
