- @title = t(".page_title")

:markdown
  **Syncro -- Synergy Croatia** je organizacija aktivna na području neformalnog obrazovanja, osobnog razvoja i međunarodne suradnje osnovana s ciljem podupiranja i poticanja razvoja kvalitete života i osnaživanjem pojedinaca za aktivno i odgovorno življenje.

  Syncro je dio Međunarodne Synergy grupe (International Synergy Group) s kojom dijelimo temeljne vrijednosti i viziju svijeta koji funkcionira za svakoga. International Synergy grupa okuplja 35 organizacija iz cijele Europe, ujedinjene u pružanju prilika za obrazovanje i razvoj pojedinaca, grupa i društva i cijelosti.

  ## Misija i vizija

  Predani smo kreiranju prilika za mlade, pružanju podrške za sudjelovanje, poticanju razvoja kvaliteta za aktivan i odgovoran život, poticanju izražavanja kreativnosti i kvalitetnih navika u životu. Aktivnosti koje provodimo usmjerene su na brigu za mlade, obrazovanje mladih i odraslih i osobni razvoj.

  Želimo stvoriti svijet koji odgovara svima iz ljubavi, pažnje i suradnje.

  ## Metoda

  Na Syncro programima koristimo se metodama neformalnog obrazovanja: iskustveno učenje, učenje kroz igru, alati osobnog razvoja, outdoor obrazovanje, kreativne radionice, coaching, teatar i ples.

  ## Aktivnosti i programi

  Cilj je osnaživanje sudionika kako bi razvili vještine, znanja i stavove za odgovoran i kvalitetan život, te kao aktivni građani vodili brigu o sebi i svojoj okolini. Glavne aktivnosti Udruge Syncro su organizacija i provedba međunarodnih treninga  za razvoj osobnih kompetencija, međunarodnih razmjena mladih, edukativnih programa namijenjenima stručnjacima u radu s ljudima, aktivnosti poticanja međunarodne suradnje, razvoja obrazovnih programa i neformalnog obrazovanja.

  Treninzi za podizanje kompetencija i kvalitetu života:

  - Osnovni Synergy trening (Basic)
  - Napredni Synergy trening (Choice)
  - Syncro trening u Hrvatskoj

  Tematsko-stručni treninzi:

  - Coaching
  - Audio/video/media
  - Dance
  - Outdoor
  - Komunikacijske vještine

  Od osnutka 2010. godine Syncro je ostvario međunarodna partnerstva na brojnim projektima, te u omogućio sudjelovanje mladih i odraslih iz Hrvatske u edukativnim aktivnostima, stručnim usavršavanjima i treninzima u Hrvatskoj i vani.

  ## Syncro tim

  Syncro postoji zbog ljudi i za ljude. Syncro tim broji pet predanih duša s velikim iskustvom u području obrazovanja, osobnog razvoja, vođenja grupa, međunarodnih projekata, financija, inovacija.
