- @title = t(".page_title")

:markdown
  # Syncro -- Synergy Croatia

  Syncro je osnovan s ciljem podupiranja i poticanja aktivnosti za mlade kroz treninge osobnog razvoja u interkulturalnom okruženju. Syncro je dio Međunarodne Synergy mreže organizacija s kojom dijelimo temeljne vrijednosti i viziju svijeta koji funkcionira za svakoga iz ljubavi, brižnosti i suradnje. Predani smo kreiranju prilika za mlade, pružanju podrške za sudjelovanje, poticanju razvoja kvaliteta za aktivan i odgovoran život, poticanju izražavanja kreativnosti i kvalitetnih navika u životu. Syncro je akreditirana organizacija za provedbu European Voluntary Service (EVS) aktivnosti u sklopu Youth in Action programa. Od početka djelovanja Syncro je potpomognuo sudjelovanje mladih iz Hrvatske u više od 20 međunarodnih projekata.

  ## Međunarodna Synergy Mreža

  Međunarodna Synergy mreža (International Synergy Network) je međunarodna mreža organizacija iz cijele Europe koje dijele zajedničku viziju u području neformalnog obrazovanja i brige za mlade. Svake godine sve više organizacije priključuje se mreži  u osmišljavanju i provedbi projekta s ciljem osnaživanja mladih i poticanja razvoja vrijednosti za dobrobit pojedinaca, omogućavajući time promjene u lokalnim sredinama i utjecaj na svijet u cijelosti. Više o međunarodnoj mreži organizacije možete vidjeti na [Olde Vechte](http://www.oldevechte.nl/oldevechte.html).

  ## Vizija

  Stvoriti svijet koji odgovara svima iz ljubavi, pažnje i suradnje.

  ## Misija

    - stvoriti prostor za učenje kroz treninge osobnog razvoja
    - osnažiti ljude kako bi posegli za svojim unutrašnjim potencijalom
    - poduprijeti aktivnosti za mlade
    - osigurati prilike za suradnju u području aktivnosti za mlade
    - nadahnuti kreativnost i uživanje u životu

  ## Aktivnosti

    - organizacija treninga Synergy u Hrvatskoj
    - osiguravanje informacija o događajima International Synergy Group
    - podupiranje zaiteresiranih kako bi dobili trening koji žele
