- @title = t(".page_title")

%h1= @title

:markdown
  **Syncro -- Synergy Croatia** is an NGO active in the field of non-formal education, personal development and international cooperation with the aim of supporting and increasing the quality of life by empowering individuals to become proactive and responsible people.

  Syncro is a part of International Synergy Group with whom we share a common vision of a world that works for everyone. International Synergy Group is a network of 35 NGOs from Europe, working together to offer opportunities for education and development of young people, groups and society.

  ## Our Mission and Vision

  We create opportunities for youth, support their participation and inspire qualities for leading an active and responsible life. We encourage creativity and self-expression and creating better habits in life.

  ## Activities

  The aim of our activities is to empower people to develop skills, know-how and attitudes to lead responsible and quality life, and as active citizens, to take care of themselves and those around them. 

  Main activities of Syncro are organizing and delivering international trainings and exchanges that develop personal competences, professional skills for youth workers, and networking within international framework of non-formal education.

  In Syncro programs we use methods of non-formal education: learning by experience, learning through games and role playing, personal development tools, outdoor education, creative workshops, coaching, theater and dance.

  Personal development trainings:

  - Basic Synergy training
  - Advanced Synergy training (Choice)
  - Syncro Training in Croatia

  Professional and themed trainings:

  - Coaching
  - Audio/video/media
  - Dance
  - Outdoor
  - Communication skills

  From 2010. Syncro realized international partnerships in many projects, and made possible for youth and adults from Croatia to take part in educational activities, professional trainings in Croatia and abroad. 

  ## Syncro Team

  Syncro is gathering people active in youth work, young professionals with experience in group facilitation, project management and innovation.
