- @title = t(".page_title")

%article
  :markdown
    # Practicing Coaching training

      [Cilj]

      - *Mjesto*: Ommen, Nizozemska.
      - *Trajanje*: 10. -- 16.3.2012.
      - *Infoletter*: [Infoletter](#).

%article
  :markdown
    # Choice training

      [Cilj]

      - *Mjesto*: Ommen, Nizozemska.
      - *Trajanje*: 3. -- 8.3.2012.
      - *Infoletter*: [Infoletter](#).

%article
  :markdown
    # Youth Democracy project "POWER ON -- From Virtual to Public space"

      [Cilj]

      - *Mjesto*: Ommen, Nizozemska.
      - *Trajanje*: 25.2. -- 3.3.2012.
      - *Infoletter*: [Infoletter](#).
