- @title = t(".page_title")

%h1= @title

= render "archive_nav"

:markdown
  Većina projekata sufinancirana su kroz program Europske Unije Youth in Action ili Mladi na djelu. Više o programu na stranicama [Agencije za mobilnost i programe EU](http://mobilnost.hr/).

= render partial: "projects/project_short", collection: @projects, as: :project
