- @title = t(".page_title")

%h1= @title

= markdown t(".body")

%dl.contact_info
  %dt Mirjana Kovačević
  %dd +385 95 861 0671

  %dt Juraj Boljat
  %dd +385 98 933 4747

  %dt Maja Škrljak
  %dd +385 91 539 7248
