- @title = t(".page_title")

:markdown
  Želiš li provesti vrijeme u drugoj državi pritom učeći i družeći se s ljudima iz cijelog svijeta, **European Voluntary Service** (EVS) je pravi izbor za tebe!

  Syncro je akreditirana sending organizacija za provedbu EVS aktivnosti u sklopu Youth in Action programa. Želiš li da Syncro bude tvoja *sending* organizacija javi nam se na <synergy@synergy-croatia.com>.

  [![Logo Agencije za mobilnost i programe EU](/assets/partners/agencija-za-mobilnost-i-programe-eu.png)](http://mobilnost.hr/)

  O programu Europske volonterske službe više informacija možete saznati na stranicama [Agencije za mobilnost i programe EU](http://www.mobilnost.hr/index.php?id=360).
