- @title = t(".page_title")

%h1= @title

:markdown
  If you want to live in another country learning and meeting new people from all around the world, EVS is the right choice for you!

  Syncro is accredited sending organization for European Voluntary Service (EVS), part of the Youth in Action programme. If you’d like to have Syncro as your sending organization, let us know at <evs@synergy-croatia.com>.

  [![Agency for Mobility and EU programmes](/assets/partners/agencija-za-mobilnost-i-programe-eu.png)](http://www.mobilnost.hr/index_en.php)

  More information about EVS can be found at the site of Croatian [Agency for Mobility and EU programmes](http://www.mobilnost.hr/index_en.php).
