- @title = t(".page_title")

%ul.albums
  = list_of @albums do |album|
    = link_to album_path(album), style: "background-image: url(#{album.cover_photo.url(:small)})" do
      .album_title= album.name
