- @title = t(".page_title")

.intro
  :markdown
    Odvažite se na sudjelovanje na našim međunarodnim projektima i razmjenama za mlade, gdje imate priliku naučiti, putovati, upoznati druge mlade ljude iz cijelog svijeta te dobro se zabaviti!

    Mi stvaramo igralište, a vi donosite igru.

= render partial: "trainings/training_short", collection: [@training, @exchange], as: :training
