- @title = t(".page_title")

:markdown
  Odvažite se na sudjelovanje na našim međunarodnim projektima i razmjenama za mlade, gdje imate priliku naučiti, putovati, upoznati druge mlade ljude iz cijelog svijeta te dobro se zabaviti!

  Mi stvaramo igralište, a vi donosite igru.

%p= link_to "Treninzi", "#{news_path}#trainings"
%p= link_to "Razmjena mladih", "#{news_path}#exchange"
