- @title = t(".page_title")

:markdown
  # Osnovni Synergy Trening “Event Wise”
  ## Nizozemska, 6. -- 11.7.2010.

  > To mi je bio jedno od boljih iskustava u životu… Kolko zbog ljudi koje sam tamo upoznao: svi otvoreni, spremni pomoć jedni drugima, ali i sebi naravno.

  > Ako se stvarno otvoriš za ono što se tamo nudi i ako počneš na neke stvari malo drugačije gledati ili čak razmišljati o nekim stvarima o kojima prije uopće nisi ni mislio da budeš ili se jednostavno nisu prije činile toliko bitnima, može ti se okrenuti cijeli svijet. Pogledaš na sebe iz nekog drugog kuta i budeš korak bliže “sebi”, a naučiš dosta o sebi kroz povratnu informaciju drugih.

  > ---Siniša Pasanec

  # Osnovni Synergy trening “Big peace comes from small pieces”
  ## Nizozemska, 25.4. -- 9.5.2010.

  > Sa Synergy treninzima upoznala sam se sasvim slučajno, preko prijateljice. Mislila sam kako će to biti dobra kombinacija putovanja i druženja. Upoznavanje različitih kultura, navika i svjetonazora samo su jedna od pozitivnih popratnih pojava. Meni osobno, Synergy treninzi pomogli su da se suočim sama sa sobom i stvarima koje uporno ponavljam a ne donose mi rezultate. Pokazali su mi kako da učim od konstruktivne kritike umjesto da se vrijeđam i kako pogrešne odluka ne postoje: u redu je što god odlučim, jer postupam najbolje što mogu u danom trenutku sa znanjem koje sam dosad skupila. Sada znam da sam slobodna kreirati svoj vlastiti Put te da uz malo hrabrosti i mašte mogu na njemu stvoriti što god poželim.

  > ---Maja Lončar

  # Osnovni Synergy trening “Unique & United”
  ## Češka, 15. -- 23.7.2011.

  > ## "De Češkibus"

  > Osnovni Synergy Trening “Unique & United” jest za mene uistinu divno iskustvo.

  > Upoznala sam sjajne mlade ljude iz Češke, Mađarske, Bugarske, Rumunjske i Turske koji su me oduševili svojom aktivnošću, poletom, iskrenošću, podrškom, hrabrošću te životnom energijom i potakli me da i ja budem aktivnija.

  > Sam trening naveo me da razmišljam o svojoj ulozi u društvu i utjecaju na druge.

  > Istaknuo je činjenicu da svatko od nas ima neku supermoć, te da zajedno možemo napraviti stvari iznad svih očekivanja.

  > Također, definiranjem određenih koraka pojedinih psiholoških i socioloških procesa uobičajna zbrka u mojoj glavi postala je malko više strukturirana. Vidim stvari,događaje ponešto jasnije, pa mi je lakše baratati s njima. :) Upoznala sam se s određenim psihološkim alatima koje mogu koristiti kad mi zatrebaju. Uz sve to, trening jača samopouzdanje i izuzetno je zabavan.

  > Motivira ljude da iskoriste svoj potencijal i uživaju u svemu što im život pruža. Hvala Syncro. :)

  > ---Jelena Radošević
