- present project do |project_presenter|

  %article{class: project.training? ? "training" : "exchange"}

    %header
      %h1= project_presenter.title
      %p.location= project_presenter.location.prepend_icon("location")

    = project_presenter.summary

    %p= link_to raw("Opširnije →"), project
