- present project do |project_presenter|

  %article{class: project.training? ? "training" : "exchange"}

    %header
      %h1= project_presenter.title
      %p.info= project_presenter.location

    = project_presenter.description

    %p= link_to raw("Opširnije →"), project
