- @title = @album.name

%h1.album-title= @album.name

= @album.description

%ul.album_photos
  = list_of @album.photos do |photo|
    = link_to image_tag(photo.image.url(:small), alt: photo.title), photo.image.url
