- @title = "PoÄetna"

%p= edit_button "Uredi projekte", admin_projects_path
%p= edit_button "Uredi iskustva polaznika", admin_testimonials_path
%p= edit_button "Uredi tipove projekata", admin_categories_path
%p= edit_button "Uredi vijesti", admin_posts_path
