$total-columns: 12;
$column-width: 5em;

$right-sidebar: 3;
$left-sidebar: 2;
$main: $total-columns - $right-sidebar;

$base-font-size: 18px;
$base-line-height: 28px;

$font_path: "fontawesome-webfont";

$sidebar-font-size: 16px;

$serif: 'Gentium Basic', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$display: 'Fredericka the Great', $serif;

$colors: #FF765E #C2AE8B #FCCF65 #FFE5C6 #B7BDC4;

$text: lighten(black, 40%);

$link1: nth($colors, 2);
$link2: nth($colors, 1);

$default-transition-duration: 0.2s;

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
