$total-cols: 12;
$col-width: 5em;

$right-sidebar: 3;
$left-sidebar: 2;
$main: $total-cols - $right-sidebar;

$base-font-size: 18px;
$base-line-height: 28px;

$sidebar-font-size: 16px;

$serif: 'Gentium Basic', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$colors: #383B42 #D1510D #FFF4D1 #BFBFBF #302825;

$text: lighten(black, 30%);

$link1: nth($colors, 2);
$link2: nth($colors, 5);

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
