$total-cols: 12;
$col-width: 5em;

$right-sidebar: 3;
$left-sidebar: 3;
$main: $total-cols - $right-sidebar;

$base-font-size: 18px;
$base-line-height: 28px;

$serif: 'Gentium Basic', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$colors: #5D7370 #7FA6A1 #B8D9B8 #D6EDBD #FFF5BC;

$text: lighten(black, 30%);

$link1: nth($colors, 2);
$link2: nth($colors, 1);

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
