body.admin {

  dt.hr:after { content: ": " image-url("lang/HR_small.png"); }
  dt.en:after { content: ": " image-url("lang/GB_small.png"); }

  @include media-query(desk) {
    .main_content {
      float: none;
      width: auto;
    }
  }

}

.logged_in {
  @include font-size($base-font-size - 2px);
  $width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: - $width/2;
  padding: $half-spacing-unit;
  text-align: center;
  color: white;
  text-shadow: none;
  background: rgba(black, .75);
  border: {
    bottom-left-radius: 2px;
    bottom-right-radius: 2px;
  }
  clear: both;

  a {
    @include color-link($link-color, tint($link-color, 50%));
    border-bottom: 0;
    @include on-interact {
      background: none;
    }
  }
}

.add_item {
  i {
    margin-right: $half-spacing-unit / 2;
  }
}

.fade_out {
  position: relative;
  max-height: 10 * $base-spacing-unit;
  overflow: hidden;
  margin-bottom: $base-spacing-unit;
  &:after {
    @include position(absolute, 0 0px 0px 0px);
    @include linear-gradient(rgba(white, 0), rgba(white, .75));
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    height: 2 * $base-spacing-unit;
    pointer-events: none;
  }
}

#project_category_id {
  display: block;

  @include media-query(lap-and-up) {
    &, ~ p {
      display: inline-block;
    }
  }
}
