body.admin {

  #header { @include trailer; }

  nav { @include leader(0); }

  dt.hr:after { content: ': ' image-url('lang/Croatia_small.png'); }
  dt.en:after { content: ': ' image-url('lang/United-Kindom_small.png'); }

  &.projects {
    .small-controls { @include leader(.25); }
    .attachments { @include trailer; }
  }

  &.testimonials {
    blockquote {
      @include trailer;
      @include trailing-border($border-style: dashed);
      border-color: rgba(nth($colors, 1), .75);
      &:last-of-type { @include trailing-border(0px, 0); }
    }
    cite { cursor: pointer; }
  }

  &.categories {
    dl {
      @include trailing-border(1px, .5);
      @include trailer(.5);
      border-color: rgba(black, .25);
      &:last-of-type {
        @include trailing-border(0px, 0);
      }
    }

    .small-controls {
      @include leader(.5);
    }
  }

}
