body.admin {

  #header { @include trailer; }

  #logo {
    text-align: left;
  }

  #log {
    @include reset-columns;
    @include rhythm(0, 0, 0, 0);
    position: absolute;
    text-align: center;
    top: rhythm(.5);
    right: 0;
  }

  #lang {
    text-align: right;
  }

  [role=main] {
    @include reset-columns;
  }

    }
  }
}

.small-controls {
  float: right;
  a { @extend %subtle; }
}
