#log {
  @include trailer;
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
  text-align: center;
  p {
    @include with-font-size(13px) {
      @include trailer(0);
      color: rgba(black, .5);
    }
  }
}

.small-controls {
  float: right;
  a { @extend %subtle; }
}
