@include at-breakpoint($desktop-layout) {

  $gutter-width: 8em;
  $grid-padding: 2em;

  $sidebar: 5;
  $main: $total-columns - $sidebar;

  body {
    @include container;
    &:before {
      margin-left: - $grid-padding;
      margin-right: - $grid-padding;
    }
  }

  [role=main] { @include span-columns($main); }

  #header {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    margin-left: - $grid-padding;
    margin-right: - $grid-padding;

    text-align: center;
  }

  #logo, #lang {
    @include inline-block;
    float: none;
  }

  #logo {
    margin-left: - rhythm(2);
    margin-right: rhythm();
  }

  #log {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    margin-left: - $grid-padding;
    margin-right: - $grid-padding;
  }

  nav {
    text-align: center;
    li {
      @include inline-block;
      @include trailer(0);
      margin-right: -4px;
      &:after {
        content: '\00b7';
        padding: 0 rhythm(.5);
      }
      &:last-child:after {
        content: '';
        padding: 0;
      }
    }
    a {
      display: inline;
      padding: 0;
      border-bottom: none;
    }
  }

  aside {
    @include span-columns($sidebar omega);
    section {
      @include reset-columns;
      padding-left: rhythm(.5);
      padding-right: $grid-padding;
      &, &:nth-child(2n) { margin-right: - $grid-padding; }
      &:nth-child(2n) { float: none; }
      &:nth-child(2) { @include padding-leader; }
    }
  }

  #latest {
    @include apply-side-rhythm-border(left, 1px, .5);
    @include border-left-radius;
    margin-left: 0;
    margin-right: - $grid-padding;
  }

  }

  #top, #expand { display: none; }

}
