@include at-breakpoint($desktop-layout) {

  $gutter-width: 8em;

  $right: 5;
  $main: $total-columns - $right;

  body {
    @include set-container-width;
  }

  [role=main] {
    @include span-columns($main);
  }

  #left {
    text-align: center;
  }

  #logo, #lang {
    @include inline-block;
    float: none;
  }

  #logo {
    margin-right: rhythm();
  }

  nav {
    text-align: center;
    li {
      @include inline-block;
      @include trailer(0);
      margin-right: -4px;
      &:last-child a { border-right: none; }
    }
    a {
      padding: 0 rhythm(.5);
      border-bottom: none;
      border-right: 1px solid rgba(black, .15);
    }
  }

  #expand {
    display: none;
  }

  #right {
    @include span-columns($right omega);
  }

  aside section {
    @include reset-columns;
    padding-right: $grid-padding;
    &, &:nth-child(2n) { margin-right: - $grid-padding; }
    &:nth-child(2n) { float: none; }
    &:nth-child(2) { @include padding-leader; }
  }

  #latest {
    @include apply-side-rhythm-border(left, 1px, .5);
    @include border-left-radius;
    margin-left: - rhythm(.5);
  }

  $cols: 3;
  input[type='submit'], .cancel {
    float: right;
    width: columns($cols, $main);
    margin-left: rhythm(.5, $form-font-size);
  }

  #top {
    display: none;
  }

}
