.filter {
  $margin: 10px;
  @extend .nav;
  @include trailer(.5);

  li { margin-bottom: $margin; }

  a {
    @extend .btn;
    @include transition(none);
    margin-right: $half-spacing-unit;
    &:active,
    &.active {
      @extend .btn_primary;
    }
  }

  i {
    display: inline-block;
    margin-right: 4px;
  }
}
