#footer {
  clear: both;
  text-align: center;
  color: rgba(black, .35);
  &:after {
    @include leader(.25);
    content: '';
    display: block;
    height: rhythm(.25);
    background: rgba(black, .15);
  }
}
