[role=contentinfo] {
  $font-size: 14px;
  @include adjust-font-size-to($font-size);
  position: relative;
  clear: both;
  text-align: center;
  color: rgba(black, .35);
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 1px solid rgba(black, .20);
  }
  p {
    @extend %inline-block;
    @include trailer(0, $font-size);
    position: relative;
    z-index: 10;
    padding: 0 rhythm(.5, $font-size);
    background: white;
  }
}
