form {
  .inner {
    padding: rhythm(.5);
    background: rgba(black, .025);
    border: 1px solid rgba(black, .1);
  }
  p, ol, ul { @include trailer(.5); }
  p { @include leader; }
  ol, ul {
    @extend %unstyled-list;
    @include adjust-leading-to(1.5);
  }
}

input, textarea, button, select {
  margin: 0;
  font: {
    family: inherit;
    size: inherit;
  }
  line-height: inherit;
  color: $text;
}

input[type='text'], input[type='password'], input[type='url'], input[type='email'], input[type='tel'], textarea {
  @extend %text-field;
  display: block;
  width: 100%;
}

textarea {
  max-width: 100%;
  height: rhythm(8);
}

select[multiple] {
  @extend %text-field;
  display: block;
  background: white;
}

input[type='number'] {
  @extend %text-field;
  @extend %inline-block;
  width: rhythm(2);
  margin: 0 rhythm(.25);
}

.input {
  @include trailer(.5);
  &:last-of-type {
    @include trailer(.25);
  }
}

label {
  &:hover { cursor: pointer; }
  &:after { content: ': '; }
  &[for$=_hr]:after { content: ': ' image-url('lang/Croatia_small.png'); }
  &[for$=_en]:after { content: ': ' image-url('lang/United-Kindom_small.png'); }
}

[type=checkbox], [type=radio] {
  position: relative;
  top: 1px;
  margin-right: 6px;
  & + label:after { content: ''; }
}

.controls {
  @include rhythm(.5, 0, 0, 1);
  text-align: right;

  input, a {
    @extend %inline-block;
    width: rhythm(5);
    margin-left: rhythm(.25);
  }

  input { @extend %primary-button; }
  a     { @extend %secondary-button; }
}

.small-controls {
  @include with-font-size(16px) {
    float: right;
    margin-left: rhythm(.5);
    a { @extend %subtle; }
  }
}
