html {
  @include pattern-with-retina("site-bg", 100px 100px, $site-bg-color);
  overflow-y: scroll;
  text-shadow: rgba(white, .5) 0 1px;
}

@include selection {
  color: white;
  text-shadow: none !important;
  background: $link-color;
}

.container {
  @extend .cf;
  @if $fluid {
    max-width: $site-width;
  }
  margin-left: auto;
  margin-right: auto;
  padding-left: $site-padding;
  padding-right: $site-padding;
}

body {
  font-family: $base-font-family;
  color: $text-color;
}

.site {
  @extend .cf;
  @include padding-leader(.5);
  background: white;

  @media (min-width: $navigation-break) {
    @include padding-leader;
  }

  @include media-query(desk) {
    @include padding-trailer;
  }
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

h1 {
  @include trailer;
  @include padding-trailer(.5, 3px solid rgba(black, .75));
  font-weight: $base-bold;
}

h2 {
  @include trailer(.5);
  @include padding-trailer(.5, 1px solid rgba(black, .25));
  text-transform: uppercase;
  font-weight: $base-regular;
  letter-spacing: 1px;
  color: $turquoiseDark;
}

h3 {
  @include trailer(0);
  text-transform: none;
  font-weight: $base-regular;
  letter-spacing: 0;
  border-bottom: none;
}

a {
  @include color-link($link-color, $link-hover);
  @include transition(
    color .2s,
    text-shadow .2s,
    border-color .2s
  );
  text-decoration: none;
  border-bottom: 1px solid tint($link-color, 75%);
  @include on-interact {
    text-decoration: none;
    border-bottom-color: tint($link-hover, 50%);
    background: rgba($link-hover, .1);
  }
}

dl {
  @extend .cf;
  width: 100%;

  dt, dd {
    width: 50%;
    float: left;
    @include media-query(lap-and-up) {
      width: 100/3 * 1%;
    }
  }

  dt {
    clear: both;
    font-weight: $base-bold;
  }

  dd {
    margin: 0;
  }
}

blockquote {
  padding-left: $half-spacing-unit;
  border-left: $half-spacing-unit solid rgba(black, .1);
  color: rgba(black, .5);
  font-style: italic;

  .author {
    &:before {
      content: "—";
      font-weight: $base-regular;
    }
  }
}

.img a {
  @extend %image-container;
}
