p, h1, h2, h3, ol, ul, li, blockquote {
  margin: 0;
  @include trailer;
}

h1, h2, h3 {
  font-family: $serif;
}

a {
  @include link-colors($link1, $link2, $link2, $link1, $link2);
  text-decoration: none;
  border-bottom: 1px solid nth($colors, 4);
  &:hover {
    border-color: nth($colors, 5);
    background: rgba(nth($colors, 2), .1);
  }
  &, &:hover {
    @include transition(
      color .2s,
      border-color .2s
    );
  }
}

em {
  @include adjust-font-size-to(20px);
  font-family: $serif;
}

.button {
  @include adjust-font-size-to($base-font-size, 1, $base-font-size);
  @include box-shadow(rgba(white, .5) 0 0 0 1px inset);
  @include text-shadow(white 0 1px 0);
  @include border-radius;
  text: {
    transform: uppercase;
    align: center;
  }
  letter-spacing: 1px;
  margin: 0;
  &:hover { cursor: pointer; }
}

.primary {
  $color: nth($colors, 3);
  $bg: lighten($color, 25%);
  background: $bg;
  border: 1px solid lighten($color, 10%);
  color: darken($color, 20%);
  &:hover {
    background: lighten($bg, 3%);
    border-color: lighten($color, 10%);
  }
}

.secondary {
  $color: darken(white, 30%);
  $bg: lighten($color, 25%);
  background: $bg;
  border: 1px solid lighten($color, 10%);
  color: darken($color, 20%);
  &:hover {
    background: lighten($bg, 3%);
    border-color: lighten($color, 10%);
  }
}
