p, h1, h2, h3, ol, ul, dl, li, blockquote {
  margin: 0;
  @include trailer;
}

h1, h2, h3 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  @include with-font-size(42px) {
    @include trailer;
  }
}

h2 {
  @include with-font-size(20px) {
    @include trailer(.5);
    @include trailing-border(1px, .5);
    text-transform: uppercase;
    color: nth($colors, 2);
    border-color: nth($colors, 2);
  }
}

h3 {
  @include with-font-size(24px) {
    @include trailer;
  }
}

a {
  @include link-colors($link1, $link2, $link2, $link1, $link2);
  text-decoration: none;
  border-bottom: 1px solid nth($colors, 4);
  &:hover {
    border-color: nth($colors, 5);
    background: rgba(nth($colors, 2), .1);
  }
  &, &:hover {
    @include transition(
      color .2s,
      opacity .2s
    );
  }
}

li { @include trailer(0); }

dt, dd {
  display: inline;
}

dt {
  font-weight: bold;
  &:after { content: ':'; }
}

dd {
  @extend %append-newline;
  margin-left: rhythm(.25);
}

address {
  @include with-font-size(14px) {
    font-style: normal;
    color: rgba(black, .5);
    padding-left: rhythm(.5);
    border-left: rhythm(.25) solid rgba(black, .2);
    p {
      @include trailer(0);
      @include adjust-leading-to(1.25);
    }
  }
}
