#header {
  @include trailer(2);
}

#logo {
  $font-size: 24px;
  @include leader(.5);
  @include adjust-font-size-to($font-size);
  @include clearfix;
  text: {
    transform: uppercase;
    rendering: optimizeLegibility;
  }
}

#lang {
  text-align: right;
  line-height: 0;
  a {
    border: 0;
    &:hover { background: none; }
  }
}
