.site_header {
  @include padding-leader(.5);
}

.site_header .container {
  @extend %cf;
}

.site_logo {
  @include trailer(.5);
  line-height: 0;

  a { @extend %image-container; }
}

.site_quote {
  @include trailer(.5);
  font-style: italic;
  color: tint($orange, 30%);

  br { display: none; }
}

.logged_in {
  @include trailer(.5);
}

.site_lang {
  @extend %unstyled-list;
  @extend %cf;
  @include trailer(.5);

  li {
    line-height: 0;
    float: left;
    margin-right: $quarter-spacing-unit;
  }

  a {
    @extend %image-container;
  }
}

@media (min-width: 650px) {
  .site_logo,
  .site_quote {
    float: left;
  }

  .site_quote {
    margin-left:  $base-spacing-unit;
    margin-right: $base-spacing-unit;

    br { display: inline; }
  }

  .site_lang {
    @include leader(.1);
    float: right;
    margin-bottom: 0;

    li {
      float: none;
      margin-right: 0;
    }
  }
}
