.site_header {
  @include padding-leader(.5);

  @include media-query(desk) {
    @include padding-leader;
  }
}

.site_header .container {
  @extend .cf;
}

.site_logo {
  @include trailer(.5);
  a {
    @extend %image-container;
  }
  img {
    max-height: 2 * $base-spacing-unit;
  }
}

.logged_in {
  @include trailer(.5);
}

.site_lang {
  @extend .unstyled_list;
  @extend .cf;
  @include trailer(.5);

  li {
    float: left;
    margin-right: $half-spacing-unit;
  }

  a {
    @extend %image-container;
  }
}

@media (min-width: 380px) {
  .site_logo {
    float: left;
  }

  .site_lang {
    @include leader(.5);
    float: right;
  }
}
