$logo: 2;
$lang: 4;
$title: $total-cols - $logo - $lang - 1;

#header {
  @include full;
  @include clearfix;
  @include trailer;
}

#logo {
  $font-size: 24px;
  @include columns($logo, $total-cols);
  @include prefix(1, $total-cols);
  @include adjust-font-size-to($font-size, 1);
  @include leader(.5, $font-size);
  display: block;
  text: {
    align: center;
    transform: uppercase;
    rendering: optimizeLegibility;
  }
  border: 0;
  &:hover {
    background: transparent;
  }
}

#title {
  @include columns($title, $total-cols);
  @include adjust-font-size-to(62px);
  @include trailer(0);
  letter-spacing: -2px;
  font: {
    family: $sans-serif;
    weight: 300;
  }
}

$cols: 3;
#lang {
  @include columns($lang, $total-cols);
  @include omega($total-cols);
  @include rhythm(1, 0, 0, 0);
  text-align: right;
}

nav {
  $font-size: 24px;
  @include full($total-cols);
  @include prefix(1, $total-cols);
  @include adjust-font-size-to($font-size);
  @include trailer(1, $font-size);
  font-weight: 300;
  color: $link2;
  text: {
    align: right;
    transform: uppercase;
  }
  ol { @include horizontal-list(1em); }
  li { @include trailer(0, $font-size); }
  a { border: 0; }
}
