#synergy-croatia {
  @include leader(2);
  @include clearfix;
  #wrapper > & {
    @include reset-column;
    @include full;
  }
  h1 {
    $font-size: 400px;
    @include prefix(0);
    @include full($total-cols);
    @include adjust-font-size-to($font-size);
    font: {
      family: $display;
      weight: normal;
    }
    text: {
      align: center;
      rendering: optimizeLegibility;
    }
    a {
      padding: 0 rhythm(2, $font-size);
      border: 0;
    }
  }
}
