#synergy-croatia {
  @include leader(2);
  @include clearfix;
  #wrapper > & {
    @include reset-column;
    @include full;
  }
  .display {
    $font-size: 300px;
    @include full($total-cols);
    @include adjust-font-size-to($font-size);
    font-family: $display;
    text: {
      align: center;
      rendering: optimizeLegibility;
    }
    a {
      padding: 0 rhythm(2, $font-size);
      border: 0;
      &:hover {
        $color1: rgba($link1, .1);
        $color2: rgba($link1, 0);
        @include background(linear-gradient(
          45deg,
          $color1 25%,
          $color2 25%,
          $color2 50%,
          $color1 50%,
          $color1 75%,
          $color2 75%
        ));
        @include background-size(4px 4px);
      }
    }
  }
}
