@include establish-baseline;

html {
  background: white;
}

body {
  margin: 0;
  padding: 0;
  @include container;
  @include rhythm(0, .5, 1, 0);
  // @include susy-grid-background;
  // @include debug-vertical-alignment;
  overflow-y: scroll;
  font-family: $sans-serif;
  color: $text;
}

[role='main'] {
  @include span-columns($main);
  @include pie-clearfix;
}

article {
  h1 {
    $font-size: 42px;
    @include adjust-font-size-to($font-size);
    @include trailer(1, $font-size);
    font-weight: normal;
  }
  .img {
    float: right;
    margin: 0 0 rhythm(.5) rhythm(.5);
    a {
      border: 0;
      background: 0;
    }
  }
  $font-size: 22px;
  h2 {
    @include adjust-font-size-to($font-size);
    @include rhythm(0, 0, 0, 1, $font-size);
    font-weight: normal;
    text: {
      rendering: optimizeLegibility;
      transform: uppercase;
    }
    color: nth($colors, 2);
  }
  h1 + h2 {
  }
  li { @include trailer(0); }
}
