@include establish-baseline;
@include border-box-sizing;

body {
  margin: 0;
  padding: 0;
  @include container;
  overflow-y: scroll;
  font-family: $sans;
  color: $text;
  &:before {
    @include trailer;
    content: '';
    display: block;
    height: rhythm(.25);
    background: nth($colors, 3);
  }
}
