[role=main] {
  @include trailer;

  .img {
    @include trailer(.5);
    a {
      border: 0;
      background: 0;
    }
  }

  article {
    h1 {
      @include with-font-size(32px, 1.5) {
        $color: nth($colors, 1);
        @include trailing-border(2px, .25);
        font-family: $serif;
        color: $color;
        border-color: rgba($color, .75);
        span {
          font-weight: bold;
        }
      }
    }
    .info {
      @include with-font-size(18px) {
        @include rhythm(-0.25, 0, 0, 1);
        color: rgba(black, .4);
      }
    }
  }
}

#sub-nav {
  @include with-font-size(18px) {
    $color: gray;
    @extend %unstyled-list;
    @include clearfix;
    @include rhythm(-0.25, 0, 0, 1);
    border-top: 1px solid $color;;
    border-bottom: 1px solid rgba($color, .25);
    background: rgba($color, .025);
    li { float: left; }
    a {
      $c1: rgba(black, .5);
      $c2: $link1;
      @include color-link($c1, $c2);
      display: block;
      padding: rhythm(.25) rhythm();
      border-bottom: none;
      &:hover {
        @include v-borders;
        border-color: rgba(black, .2);
        background: white;
      }
    }
    .active a {
      color: rgba(black, .75);
      background: rgba(white, .1);
    }
  }
}
