.main_content {
  text-shadow: none;

  article {
    @include trailer;
  }

  > h1:first-child {
    @each $page in $pages {
      body.#{$page} & {
        @include prefixer(filter, sepia(50%), webkit moz ms spec);
        padding: $base-spacing-unit $half-spacing-unit;
        color: white;
        text-shadow: 1px 1px 2px black;
        border: 2px solid rgba(black, .5);
        border-radius: 2px;
        background: image-url("pages/#{$page}.jpg") 50% 50%;
      }
    }
  }

  > p,
  > div {
    &:first-child {
      @include leader;
    }
  }

  @media (min-width: $navigation-break) {
    > p,
    > div {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include media-query(desk) {
    float: left;
    width: 100/3 * 2%;
    padding-right: $gutter-width;
  }
}
