[role=main] {
  @include trailer(.5);
  @include clearfix;

  h1 {
    $font-size: 42px;
    @include adjust-font-size-to($font-size);
    @include trailer(1, $font-size);
    font-weight: normal;
  }

  .img {
    float: right;
    margin: 0 0 rhythm(.5) rhythm(.5);
    a {
      border: 0;
      background: 0;
    }
  }

  $font-size: 26px;
  h2 {
    $color: nth($colors, 2);
    @include adjust-font-size-to($font-size);
    @include rhythm(0, 0, 0, 0, $font-size);
    font-weight: normal;
    text: {
      rendering: optimizeLegibility;
      transform: uppercase;
    }
    color: $color;
  }

  li { @include trailer(0); }

  p.intro {
    $font-size: 26px;
    @include adjust-font-size-to($font-size, 1.5);
    @include trailer(1, $font-size);
    font: {
      family: $serif;
      style: italic;
    }
    color: rgba(black, .40);
  }
}
