.main_content {
  overflow: hidden;
  text-shadow: none;

  article {
    @include trailer;
  }

  > p,
  > div {
    &:first-child {
      @include leader;
    }
  }

  @media (min-width: $navigation-break) {
    > p,
    > div {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include media-query(desk) {
    float: left;
    width: 100/3 * 2%;
    padding-right: $gutter-width;
  }
}
