.main_content {
  overflow: hidden;

  article {
    @include trailer;
  }

  > p,
  > div {
    &:first-child {
      @include leader;
    }
  }

  @include media-query(min-width $navigation-break) {
    > p,
    > div {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include media-query(desk) {
    float: left;
    width: 100/3 * 2%;
  }
}
