.site_navigation {
  @include pattern-with-retina("navigation-bg", 588px 375px, $nav-bg-color);
  $border: 1px solid rgba($link-color, .25);
  border-top: $border;
  border-bottom: $border;

  ol {
    @extend %bleed;
    @extend %unstyled-list;
    @extend %cf;
    padding: 0;
  }

  a {
    @include padding-leader(.5, 1px solid rgba($link-color, .25));
    @include padding-trailer(.5);
    display: block;
    font-weight: $base-bold;
    padding-left: $site-padding;
    padding-right: $site-padding;
    border-bottom: none;
    &:hover {
      background: none;
    }
  }

  .active a {
    @include color-link($link-hover);
  }
}

.nav_expander {
  @extend %unselectable;
  display: none;
  cursor: pointer;
  line-height: 1.5 * $base-spacing-unit;
  color: $link-color;
  &:after { content: ""; }

  i {
    display: inline-block;
    margin-right: 3px;
  }

  .current_page {
    font-weight: $base-bold;
  }
}

@media (max-width: $navigation-break - 1) {
  .site_navigation {
    ol {
      @include transition(.2s);
      height: 0;
      opacity: 0;
      overflow: hidden;

      &.expanded {
        height: auto;
        opacity: 1;
      }
    }
  }

  .nav_expander {
    display: block;
  }
}

@media (min-width: $navigation-break) {
  .site_navigation  {
    $height: 1.5 * $base-spacing-unit;
    height: $height;

    ol {
      @include no-bleed;
      margin-left: - $base-spacing-unit;
    }

    li {
      float: left;
    }

    a {
      @include color-link(rgba($link-color, .75), $link-hover);
      height: $height;
      padding: 0 $base-spacing-unit;
      line-height: $height - 5px;
      border: none;
      @include on-interact {
        text-shadow: rgba(white, .75) 0 1px;
        background: none;
      }
    }

    .active a {
      text-shadow: rgba(white, .75) 0 1px;
    }
  }
}
