nav {
  @include leader(.5);
  text: {
    transform: uppercase;
    align: center;
  }
  ol {
    @extend %unstyled-list;
    ol {
      $font-size: 14px;
      @include adjust-font-size-to($font-size, 1);
      text-transform: none;
      li { @include trailer(0); }
      a {
        $color1: rgba(black, .25);
        $color2: $link2;
        @include link-colors($color1, $color2, $color2, $color1, $color2);
        padding-right: rhythm(.5, $font-size);
        padding-left: $grid-padding;
        margin-left: - $grid-padding;
        border: 0;
      }
    }
  }
  a {
    display: block;
    padding-right: rhythm(.5);
    padding-left: $grid-padding;
    margin-left: - $grid-padding;
  }
  .active {
    @extend a:hover;
    background: none;
    &:hover { background: rgba(nth($colors, 2), .1); }
  }
}
