nav {
  $font-size: 24px;
  @include prefix(1);
  @include trailer(1.5);
  background: rgba(nth($colors, 2), .1);
  font-family: $serif;
  text-transform: uppercase;
  .inner { @include container; }
  ol {
    @include adjust-font-size-to($font-size, 2);
    @include horizontal-list(0);
  }
  li { @include trailer(0); }
  a {
    $lines: .7;
    display: block;
    padding: 0 rhythm($lines, $font-size);
    border: 0;
    &.active {
      color: $link2;
      background: white;
      @each $side in left, right {
        @include apply-side-rhythm-border($side, $lines: $lines, $font-size: $font-size);
      }
      border-color: rgba(nth($colors, 5), .4);
    }
  }
}
