nav {
  @include trailer;
  position: relative;
  text: {
    transform: uppercase;
    align: center;
  }
  ol { @extend %unstyled-list; }
  li { @include trailer(.5); }
  a { display: block; }
  .active {
    @extend a:hover;
    background: none;
    &:hover { background: rgba(nth($colors, 2), .1); }
  }
}

#expand {
  display: none;

  position: absolute;
  right: 0;
  padding: 0 rhythm(.25);
  color: white;
  border: none;
  background: nth($colors, 3);
  &:hover {
    background: nth($colors, 1);
  }
}
