// inuit.css

$base-font-size:    14px;
$base-line-height:  26px;

$desk-start:  960px;

$h1-size:     34px;
$h2-size:     20px;
$h3-size:     20px;

$milli-size:  12px;

// Sassy Buttons

$sb-border-radius:  3px;
$sb-padding:        ($base-line-height/2 - 1px) 20px;
$sb-gradient-style: "matte";
$sb-text-style:     "none";
