body.partners {
  [role=main] {
    ul {
      @extend unstyled-list;
      @include clearfix;
      padding: 0;
      list-style: none;
    }
    li {
      float: left;
      height: 120px;
      padding: 0 rhythm(.9);
      a {
        @extend %inline-block;
        @include opacity(.5);
        height: 100%;
        border: none;
        background: none;
        &:hover { @include opacity(1); }
      }
    }
  }
}
