.partner_list {
  @extend %unstyled-list;

  li {
    @include trailer(1.5);
  }

  a {
    display: inline-block;
    border-bottom: none;

    &:hover {
      background: none;
    }
  }

  img {
    max-height: 2 * $base-line-height;
    margin-bottom: $half-spacing-unit/2;
  }

  @include media-query(desk-and-up) {
    li {
      @include trailer(.5);
      float: left;
      width: 100/2 * 1%;
      height: 6 * $base-spacing-unit;
      padding-right: $bsu;

      &:before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        height: 100%;
        margin-left: -0.25em;
      }
    }

    img {
      @include transition(.2s);
      opacity: .75;
      -webkit-filter: grayscale(100%);
      max-height: none;
    }

    a {
      width: 100%;
      display: inline-block;
      vertical-align: bottom;

      &:hover img {
        opacity: 1;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}
