.partner_list {
  @extend .unstyled_list;

  li {
    @include trailer(1.5);
  }

  .img {
    @include trailer(.5);

    a {
      display: inline-block;
    }
  }

  img {
    max-height: 2 * $base-line-height;
  }

  @include media-query(desk) {
    li {
      float: left;
      width: 50%;
      height: 6 * $base-spacing-unit;
      margin-bottom: 0;
    }

    img {
      @include transition(.2s);
      opacity: .75;
      -webkit-filter: grayscale(100%);
    }

    a {
      &:hover img {
        opacity: 1;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}
