body.projects {
  .attachments {
    @include with-font-size(20px) {
      @extend %unstyled-list;
      @include leading-border(1px, 1, $border-style: dashed);
      border-color: rgba(black, .25);
      li {
        @include apply-side-rhythm-border(right, 1px, .5);
        float: left;
        margin-right: rhythm(.5);
        border-color: rgba(black, .5);
        &:last-child { @include apply-side-rhythm-border(right, 0px, 0); }
      }
    }
  }
}
