.project_short,
.project_long {
  .icon-file-pdf {
    color: #F91D0A;
  }

  .icon-file-word {
    color: #2a5598;
  }
}

.project_long {
  .location {
    font-style: italic;
    color: rgba(black, .5);
  }
}
