.site_navigation {

  .search {
    max-width: 190px;
    position: relative;
    margin: 0;
    margin-top: 5px;
  }

  .search-field {
    position: relative;
    border-radius: 50px;
    height: $base-spacing-unit;
    padding: 7px;
    padding-right: 36px;
    font-family: $helvetica;
    font-size: 14px;
    line-height: 1;

    @include placeholder {
      line-height: 1.2 !important;
    }
  }

  .search-btn {
    @include sassy-button-structure(50%, 16px, 0);
    @include sassy-button-gradient($base-color: $orange);
    position: absolute;
    z-index: 5;
    top: 3px;
    right: 4px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: $base-spacing-unit;

    i {
      position: relative;
      top: 1px;
    }
  }

}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
