.main_content {

  .search {
    max-width: 400px;
    position: relative;
    margin-top: $base-spacing-unit;
  }

  .search-field {
    position: relative;
    border-radius: 50px;
    padding-right: 36px;
    padding-left: 14px;
    font-family: $helvetica;
    font-size: 16px;
  }

  .search-btn {
    @include sassy-button-structure(50%, 16px, 0);
    @include sassy-button-gradient($base-color: $orange);
    position: absolute;
    z-index: 5;
    top: 6px;
    right: 7px;
    width: $base-spacing-unit;
    height: $base-spacing-unit;
    text-align: center;
    line-height: $base-spacing-unit;

    i {
      position: relative;
      top: 2px;
      right: 1px;
    }
  }
}
