$sidebar-border: 1px solid tint($link-color, 75%);
.site_sidebar {
  @extend %bleed;
  @include padding-leader(.5, $sidebar-border);
  @include padding-trailer(.5);
  @include pattern-with-retina("sidebar-bg", 200px 200px, rgba($link-color, .05));

  section {
    @include trailer;
    @include padding-trailer(1, 1px solid rgba($link-color, .1));
    &:last-child {
      @include padding-trailer;
      margin-bottom: 0;
      border-bottom: none;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    $border: 1px solid rgba(black, .25);
    @include padding-trailer(.5);

    i {
      position: relative;
      top: 2px;
      display: inline-block;
      margin-right: $quarter-spacing-unit;
      color: rgba($link-color, .5);
    }
  }

  @include media-query(desk) {
    @include no-bleed;
    @include leader(-1);
    @include padding-leader;
    @include padding-trailer(1, $sidebar-border);
    @include font-size($base-font-size - 2px);
    margin-bottom: - $base-spacing-unit - 1px;
    float: right;
    width: 100/3 * 1%;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
    color: rgba(black, .6);
    border-top: none;
    border-left: $sidebar-border;
    border-right: $sidebar-border;

    section {
      @include padding-trailer(1, 1px solid rgba($link-color, .1));
      @include trailer;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

.social {

  .icon {
    @include sassy-button-structure($padding: $quarter-spacing-unit $half-spacing-unit);
    margin-right: 3px;
  }

  @mixin social-icon($which, $color) {
    .#{$which} {
      @include sassy-button-gradient($base-color: $color);
    }
  }

  @include social-icon(facebook, $facebook-color);
  @include social-icon(twitter, $twitter-color);
  @include social-icon(feed, $feed-color);
}

.icon-syncro {
  position: relative;
  top: 1px;
  &:before {
    content: image-url("icon-syncro.png");
  }
}
