$sidebar-border: 1px solid tint($link-color, 65%);
.site_sidebar {
  @extend %bleed;
  @include padding-leader(.5, $sidebar-border);
  @include padding-trailer(.5);
  @include trailer(.5, $sidebar-border);
  @include pattern-with-retina("sidebar-bg", 200px 200px, rgba($link-color, .05));
  @include font-size($base-font-size - 2px);
  color: shade($link-color, 50%);

  section {
    @extend %bleed;
    @include trailer(.5);
    @include padding-trailer(.5, 1px solid rgba($link-color, .1));
    &:last-child {
      @include padding-trailer(.5);
      margin-bottom: 0;
      border-bottom: none;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    $border: 1px solid rgba(black, .25);
    @include padding-trailer(.5);

    i {
      position: relative;
      top: 2px;
      display: inline-block;
      margin-right: $quarter-spacing-unit;
      color: rgba($link-color, .5);
    }
  }

  a {
    border-bottom: none;
  }

  @include media-query(desk) {
    $padding: $gutter-width;
    @include no-bleed;
    @include padding-trailer(1, $sidebar-border);
    float: right;
    width: 100/3 * 1%;
    padding-left: $padding;
    padding-right: $padding;
    margin-bottom: 0;
    border: $sidebar-border;
    border-radius: 2px;

    section {
      @include padding-trailer(.5, 1px solid rgba($link-color, .1));
      @include trailer(.5);
      @include bleed($padding);
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .social {

    .icon {
      @include sassy-button-structure($padding: 3px 10px);
      margin-right: 3px;
      text-shadow: none;
    }

    @mixin social-icon($which, $color) {
      .#{$which} {
        @include sassy-button-gradient($base-color: $color);
      }
    }

    @include social-icon(facebook, $facebook-color);
    @include social-icon(twitter, $twitter-color);
    @include social-icon(feed, $feed-color);
  }

  .syncro {
    h3 a:hover {
      background: none;
    }

    a {
      @include color-link($turquoiseDark, $link-hover);
    }
  }

  .icon-syncro {
    position: relative;
    top: 3px;
    &:before {
      content: image-url("icon-syncro.png");
    }
  }
}
