aside {
  @include leader(.5);
  $hpad: .85;
  h1 {
    $font-size: 20px;
    @include adjust-font-size-to($font-size);
    @include trailer(.5, $font-size);
    padding-left: rhythm($hpad, $font-size);
    font: {
      family: $sans;
      weight: 400;
    }
    text-transform: uppercase;
  }
  ul, ol, p {
    &:last-child { margin: 0; }
  }
  p { @include adjust-font-size-to(14px); }
  section {
    $color: nth($colors, 4);
    @include border-radius;
    @include trailer(1);
    position: relative;
    padding: rhythm(.5);
    background: rgba($color, .25);
    border: 1px solid $color;
  }
  [class^=icon] {
    $font-size: 16px;
    @include inline-block;
    @include adjust-font-size-to($font-size);
    @include border-radius;
    position: absolute;
    padding: rhythm(.25) rhythm(.35, $font-size);
    background: nth($colors, 3);
    top: rhythm(0.25, $font-size);
    left: rhythm(-1.1 + $hpad, $font-size);
    color: white;
  }
}

#mailchimp {
  .field {
    @include pie-clearfix;
    height: rhythm(1.5);
  }
  input, .submit {
    display: block;
    float: left;
    height: 100%;
  }
  input {
    @include adjust-font-size-to($base-font-size);
    width: 80%;
    margin: 0 3% 0 0;
    padding-left: rhythm(.25);
    border-color: rgba(black, .3);
  }
  .submit {
    @extend .button;
    @extend .primary;
    $font-size: 24px;
    @include adjust-font-size-to($font-size, 1.5);
    padding: 0 rhythm(.25, $font-size);
    width: 16%;
  }
}

#support {
  button {
    @extend .button;
    @extend .primary;
    @include trailer(.5, $form-font-size);
    display: block;
    width: 100%;
    &:last-child { margin: 0; }
  }
}

#syncro {
  $color: $syncro;
  background: rgba($color, .05);
  border: 1px solid rgba($color, .5);
  [class^=icon] {
    background: $syncro;
  }
  a {
    $color1: $syncro;
    $color2: $link2;
    @include color-link($color1, $color2);
    &:hover { background: rgba($color1, .1); }
  }
}
