aside {
  $font-size: $sidebar-font-size;
  @include columns($right-sidebar);
  @include omega;
  @include adjust-font-size-to($font-size);
  @include leader(2.5, $font-size);
  h1 {
    $font-size: 20px;
    @include adjust-font-size-to($font-size, $from-size: $sidebar-font-size);
    @include trailer(.5, $font-size);
    font: {
      family: $sans-serif;
      weight: 400;
    }
    text-transform: uppercase;
  }
}

#results {
  @include full($right-sidebar);
  ul { @include trailer(0, $sidebar-font-size); }
  li { @include trailer(0, $sidebar-font-size); }
}
