@include at-breakpoint($tablet-layout) {

  body {
    @include set-container-width;
  }

  .img {
    float: right;
    margin: 0 0 rhythm(.5) rhythm(.5);
  }

  #logo {
    float: left;
  }

  #lang {
    float: right;
  }

  nav {
    clear: both;
    text-align: left;
  }

  $cols: $total-columns / 2;
  aside section {
    @include span-columns($cols);
    @include nth-omega(2n);
    &:nth-child(2) { @include padding-leader(0); }
  }

}
