@include at-breakpoint($tablet-layout) {

  body {
    @include set-container-width;
  }

  #header {
    @include clearfix;
  }

  $cols: $total-columns / 2;
  #logo {
    @include span-columns($cols);
  }

  #lang {
    @include span-columns($cols omega);
  }

  nav {
    text-align: left;
  }

  aside {
    clear: both;
  }

  #synergy-croatia {
    [role='main'], #logo { @include reset-columns; }
  }

}
