article {
  .quote {
    @include columns($left-sidebar, $main);
    @include adjust-font-size-to(100px, 3);
    text-align: right;
    color: darken(white, 10%);
    font: {
      family: $serif;
      weight: bold;
    }
  }
  blockquote {
    color: lighten($text, 20%);
    font: {
      family: $serif;
      style: italic;
    }
    h2 {
      $font-size: 24px;
      @include adjust-font-size-to($font-size);
      @include trailer(1, $font-size);
    }
    p {
      $font-size: 20px;
      @include adjust-font-size-to($font-size);
      @include trailer(1, $font-size);
    }
  }
}
