body.testimonials {
  blockquote {
    position: relative;
    overflow: hidden;
    color: rgba(black, .5);
    border-color: nth($colors, 2);
    font: {
      family: $serif;
      style: italic;
    }
    &:last-child { @include trailing-border(0px, 0); }
    p {
      @include with-font-size(20px) {
        @include trailer;
        &:last-child { @include trailer(0); }
      }
    }
    cite:before {
      content: '\2014';
    }
  }
  .pagination {
    @include clearfix;

    * { display: none; }

    :first-child, :last-child { display: inline; }
    :first-child { float: left; }
    :last-child { float: right; }

    .disabled { color: rgba(black, .25); }
  }
}
