.toc {
  @extend %unstyled-list;
  margin-bottom: $bsu;
  padding-left: $bsu;
  list-style: square;
  color: rgba(#000, .35);

  a {
    @include color-link(rgba(#000, .35), $orange);
    font-size: 15px;
    border-bottom: none;
  }
}
