// layout

$site-width:    $desk-start;
$gutter-width:  20px;
$site-padding:  $gutter-width;
$fluid:         true;

$quarter-spacing-unit: $half-spacing-unit / 2;

// breakpoints

$navigation-break: $site-width;

// type

$base-font-family:  "bree";

$base-regular:      300;

// colors

$orange:  shade(#ff6a03, 10%);

$text-color:        rgba(black, .8);

$link-color:        $orange;
$link-hover:        $blueDuller;

$facebook-color:    #3b5998;
$twitter-color:     #00aced;
$feed-color:        #ff6600;

$syncro-color:      #7aced6;

$site-bg-color:     #fceccd;
$nav-bg-color:      #fadfa9;
$sidebar-bg-color:  #fdfae8;

// misc

$pages: news about evs archive testimonials partners contact;
$page-cover-max-width: 640px;
