@include at-breakpoint($widescreen-layout) {

  $gutter-width: 4em;

  $left: 3;
  $right: 4;
  $main: $total-columns - $left - $right;

  body {
    @include set-container-width;
  }

  h1 {
    @include with-font-size(58px) {
      @include trailer;
    }
  }

  [role=main] {
    @include span-columns($main);
  }

  #left {
    @include span-columns($left);
    @include leader(.5);
  }

  #logo, #lang {
    display: block;
    text-align: right;
  }

  #logo {
    @include trailer(1.5);
    margin-right: 0;
  }

  #lang { @include trailer; }

  nav {
    text-align: right;
    li {
      @include trailer;
      display: list-item;
    }
    a {
      padding-right: rhythm(.5);
      padding-left: $grid-padding;
      margin-left: - $grid-padding;
      border-right: none;
      border-bottom: 1px solid nth($colors, 4);
    }
  }

  #right {
    @include span-columns($right omega);
    @include leader(.75);
  }

  #latest {
    @include apply-side-rhythm-border(left);
    margin-left: - rhythm();
  }

  $cols: 3;
  input[type='submit'], .cancel {
    width: columns($cols, $main);
  }

}
