@include at-breakpoint($widescreen-layout) {

  $gutter-width: 4em;

  $navigation: 3;
  $sidebar: 4;
  $main: $total-columns - $navigation - $sidebar;

  body {
    @include set-container-width;
    &:before { @include trailer(0); }
  }

  [role=main] { @include span-columns($main); }

  #logo, #lang { @include trailer(0); }

  #logo {
    @include span-columns($navigation);
    margin-left: 0;
    text-align: right;
    img {
      margin-left: - rhythm(2);
    }
  }

  #log {
    @include span-columns($main);
    @include leader(2);
    position: static;
    display: block;
    margin-left: 0;
    text-align: left;
  }

  #lang {
    @include span-columns($sidebar omega);
    @include leader(1.75);
    text-align: left;
  }

  nav {
    @include span-columns($navigation);
    @include leader(.5);
    text-align: right;
    li {
      @include trailer;
      display: list-item;
      &:after {
        content: '';
        padding: 0;
      }
    }
    a {
      display: block;
      padding-right: rhythm(.25);
      padding-left: $grid-padding;
      margin-left: - $grid-padding;
      border-right: none;
      border-bottom: 1px solid nth($colors, 4);
    }
  }

  aside {
    @include span-columns($sidebar omega);
    @include leader(.75);
    section { padding-left: rhythm(); }
  }

  #latest {
    @include apply-side-rhythm-border(left);
  }

}
