- present category do |category_presenter|

  - if admin? and category.not_in?(forbidden_categories)
    .controls
      = category_presenter.edit_button "Izmjeni"
      = category_presenter.delete_button "Izbriši"

  %dl
    %dt.hr Naziv
    %dd= category_presenter.name_hr
    %dt.en Naziv
    %dd= category_presenter.name_en
