= form_tag search_path, method: :get, class: "search" do
  = search_field_tag :q, params[:q], class: "search-field", placeholder: t("search.placeholder")
  = button_tag icon("search"), class: "search-btn", name: nil
