%h3= t(".title").prepend_icon("share")
%p
  = link_to icon("facebook"), "//www.facebook.com/groups/synergycroatia", class: "icon facebook", title: t(".facebook")
  = link_to icon("twitter"), "//twitter.com/syncrotrainings", class: "icon twitter", title: t(".twitter")
