%h3= t(".title").prepend_icon("share")
%p
  = link_to icon("facebook"), "https://www.facebook.com/synergycroatia", class: "icon facebook", title: t(".facebook")
  = link_to icon("twitter"), "https://twitter.com/syncrotrainings", class: "icon twitter", title: t(".twitter")
  = link_to icon("youtube"), "https://www.youtube.com/channel/UCdxbnLEgkD2NHeFSSplWl-g", class: "icon youtube", title: t(".youtube")
