- @title = t(".page_title")

%article
  %h1= @title

  :markdown
    Donating supports development of youth programmes in Croatia and mobility of young people on educational international trainings and volunteering projects.

    We thank you for your generous support!

  %address
    :markdown
      Syncro

      Opatovina 23, 10000 Zagreb, Croatia

      **OIB**: 31187309618

      **MB**: 2730634

      **Email**: <synergy@synergy-croatia.com>

      **#{t(".phone")}**: +385 98 933 4747

      **Privredna banka Zagreb žiro-račun**: 2340009-1110465527

      **IBAN** (#{t(".iban").downcase}): HR87 2340 0091 1104 6552 7

      **Swift code**: PBZGHR2X
