- @title = t(".page_title")

%article
  %h1= @title

  :markdown
    Doniranjem pomažete razvoj programa za mlade u Hrvatskoj te odlazak mladih na [međunarodne treninge i volontiranja u inozemstvo](#{news_path}).

    Doniranje u iznosu do 2% dobiti za pravne i fizičke osobe smanjuju osnovicu poreza u prethodnu kalendarsku godinu. Odlučite 2% svoje financijske obaveze donirati na mlade u Hrvatskoj!

    Zahvaljujemo na vašoj velokodušnoj i srdačnoj potpori!

  %address
    :markdown
      Syncro

      Opatovina 23, 10000 Zagreb, Hrvatska

      **OIB**: 31187309618

      **MB**: 2730634

      **Email**: <syncro@syncro.hr>

      **#{t(".phone")}**: +385 98 933 4747

      **Privredna banka Zagreb žiro-račun**: 2340009-1110465527

      **IBAN** (#{t(".iban").downcase}): HR87 2340 0091 1104 6552 7
