--- 
http_interactions: 
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/infoletter.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 147, \"rev\": \"9308803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:29 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:29 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:29 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/participation_form.pdf?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: ""
    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 148, \"rev\": \"9408803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:30 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:30 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:31 GMT
[...]
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=infoletter.pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 147, \"rev\": \"9308803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:29 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:29 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:40:34 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=participation_form.pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 148, \"rev\": \"9408803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:30 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:30 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:40:36 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=infoletter%20(1).pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 149, \"rev\": \"9508803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:32 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:32 +0000\", \"path\": \"/infoletter (1).pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:40:37 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/search/sandbox/?query=participation_form%20(1).pdf&file_limit=1000&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "[{\"revision\": 150, \"rev\": \"9608803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:33 +0000\", \"client_mtime\": \"Mon, 25 Jun 2012 09:40:33 +0000\", \"path\": \"/participation_form (1).pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}]"
  recorded_at: Mon, 25 Jun 2012 09:40:39 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/infoletter.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 151, \"rev\": \"9708803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:40 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/infoletter.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:40 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form.pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 152, \"rev\": \"9808803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:41 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form.pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:42 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/infoletter%20(1).pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 153, \"rev\": \"9908803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:43 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/infoletter (1).pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:43 GMT
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=/participation_form%20(1).pdf
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="n0bk18wt3f8ezf8", oauth_token="1bgc1t2mjhk70mo", oauth_signature="61flf0pcu44cdmu&byqcwu47l7cqez2"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 154, \"rev\": \"9a08803ddc\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Mon, 25 Jun 2012 09:40:46 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/participation_form (1).pdf\", \"is_dir\": false, \"icon\": \"page_white_acrobat\", \"root\": \"app_folder\", \"mime_type\": \"application/pdf\", \"size\": \"0 bytes\"}"
  recorded_at: Mon, 25 Jun 2012 09:40:46 GMT
recorded_with: VCR 2.2.2
